@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto|Sriracha&display=swap');

:root{
--primary-color:#ffc270;
--light-gray:#eee;
--light-black:rgba(0,0,0,.7);
--roboto:"Roboto",sans-serif;
--oswald:"Oswald",sans-serif;
--sriracha:"Sriracha",sans-serif;
}

html{
    background-color: #EEE;
}
a{
    text-decoration: none;
    color: var(--light-black)
}
a:hover{
    color: var(--primary-color);
    text-decoration: none;
}
.page_title{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.checkout-button{
    background-color: var(--light-black) !important;
    text-transform: uppercase;
    cursor: pointer;
}
a.checkout-button:hover{
    background-color: var(--primary-color) !important;
}
.cart_totals h2{
    display: none;
}
table{
    border: none !important;
    border-bottom: 2px solid var(--primary-color) !important;
    text-align: center;
}

thead{
    margin-bottom: 1rem !important;
    border-bottom: 1px solid var(--primary-color) !important;
}
.woocommerce table.shop_table td{
    border-top: none !important;
}
.woocommerce-shipping-totals th{
    vertical-align: middle !important;
}
.cart-subtotal, .woocommerce-shipping-totals th{
    text-align: center;
}
.order-total th{
    
    text-align: center;
    font-size: 200%;
}
.order-total td{
    text-align: center;
    font-size: 200%;
} 