@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto|Sriracha&display=swap');

:root{
--primary-color:#FFC270;
--light-gray:#eee;
--light-black:rgba(0,0,0,.7);
--roboto:"Roboto",sans-serif;
--oswald:"Oswald",sans-serif;
--sriracha:"Sriracha",sans-serif;
}

body{
    background-color: #FFF !important;
}

a{
    text-decoration: none;
    color: var(--light-black)
}
a:hover{
    color: var(--primary-color);
    text-decoration: none;
}
.page_title{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
h3{
    text-align: center;
}
h3:after{
    content:'';
    display: block;
    height: 2px;
    background-color: var(--light-black);
    width: 20%;
    margin: 20px auto;
    }
.form-row label{
    font-weight: bold !important;
}
.woocommerce-form-coupon-toggle, .woocommerce-additional-fields{
    display: none;
}
.container{
    
    align-items: center;
    border-radius: 2rem;
    margin-bottom: 10rem;
}

.customer_details{
    left: 1rem;
}
#ship-to-different-address{
    font-size: 0.75rem;
    text-align: left;
}
#ship-to-different-address::after{
display: none;
}
.input-text{
    background:none;
    border: none;
    border-bottom:1px solid var(--primary-color) ;
}
.button{
    background-color: var(--light-black) !important;
    border-radius: 10px !important;
    text-transform: uppercase;
    cursor: pointer;
}
.button:hover{
    background-color: var(--primary-color) !important;
}