a{
    text-decoration: none;
    color: #000
}
a:hover{
    color: #FFC270;
    text-decoration: none;
}
.page_title{
    padding-top: 4rem;
    
}

/* ****************** */
/* ****** Login ***** */
/* ****************** */

 h2{
    text-align: center !important;
}
.woocommerce-form{
    border: none !important;
}

.woocommerce-Input{
    border: none;
    border-bottom: 2px solid #FFC270;
}
.button{
    background-color: #000 !important;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFF !important;
}
.button:hover{
    background-color: #FFC270;
}

/* ************************* */
/* ****** Account page ***** */
/* ************************* */

.woocommerce-MyAccount-navigation{
    text-align: left;
    
}
.woocommerce-MyAccount-navigation li{
    padding: 1rem;
    background-color: #000;
    border: 1px solid #FFF;
    
}
.woocommerce-MyAccount-navigation li a{
    
    color: #FFF;
    
    
}
.woocommerce-account .woocommerce-MyAccount-content{
    width: 100%;
}
.woocommerce-MyAccount-navigation-link--customer-logout{
    background-color: #FFC270 !important;
    color: #000 !important;
    text-align: center;
}

.woocommerce-info {
    border-top-color: #FFC270 !important;
}
.woocommerce-info::before{
    color: #FFC270 !important;
}