#showcase{
    margin-top: 12rem;
}

#showcase h1{
    font-size: 50px;
    margin-bottom: 2rem;  
}

#showcase .img{
    width: 100%;
    height: 30%;
    margin-left:1rem;
}

#showcase .showcase-right{
    margin-top: 3rem;
}

#showcase .btn_achat{

    display: inline-block;
    padding: 1.5rem 2.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    background-color: #32373c;
    border-radius: .8rem;
}
#showcase .btn_achat:hover{
    background-color: #FFC270;
    color: #FFF;
    text-decoration: none;
}
#description{
    background: #F1F1F1;
    padding: 30px 0 30px 0;  
    margin-top: 2rem;
}

#description p{
    font-size: 32px;
    color: #000;
}

#info1{
    padding-top: 3rem;
}
#review{
    background: #F1F1F1;
    padding: 30px 0 30px 0;  
    margin-top: 2rem;
}
#review h4{
    margin-top: 3rem;
    text-align: center;
}
#review .share-wrap .share-right{
    margin-top: 3rem;
}
#review .comment-borderbox{
    border: none;
}
#review select{
    display: none;
}
#review .button.sip-rswc-more{
    background-color: #FFC270 !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
}
#formulaire h4{
    margin-top: 3rem;
    text-align: center;
}

#formulaire #reply-title{
    display: none;
}

#formulaire .comment-notes{
    font-weight: lighter;
}
#formulaire .comment-form-author label, #formulaire .comment-form-email label{
    font-weight: bolder;
}
#formulaire .comment-form-author input, #formulaire .comment-form-email input{
border: none;
border-bottom: 2px solid #FFC270;
}
.woocommerce #respond input#submit{
    background-color: #FFC270 !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
}
#related{
    background: #FFF;
    padding: 30px 0 30px 0;  
    margin-top: 2rem;
    
}

#related h4{
    margin-top: 3rem;
    text-align: center;
}
#related .related_products{
    margin: 0 auto;
    border-radius: 10px;
}
#related h6{
    margin-top: 1rem !important;
}
#related p{
    margin-bottom: 0 !important;
}
#related .related_product_name{
    text-decoration: none;
    font-weight: bold;
    padding: 30px 0 30px 0; 
    color: #32373c;
    margin-top: 1rem !important;
    text-align: center;
}
#related .related_btn_achat{

    display: inline-block;
    padding: 0rem 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    background-color: #32373c;
    border-radius: .8rem;
    margin:1rem 1rem 1rem 3rem;
}
#related .btn_achat:hover{
    background-color: #FFC270;
    color: #FFF;
    text-decoration: none;
}
.price{
    font-weight: bold;
   color: #FFC270;
}
.regular_price{
    text-decoration: line-through;
}

.badge_promo{
    font-weight: bold;
    color: #FFF;
    background-color: #FFC270;
    padding: 1rem 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: .8rem;
    margin-bottom: 1rem;
}

.related_price{
    font-weight: bold;
   color: #FFC270;
}
.related_regular_price{
    text-decoration: line-through;;
}