@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto|Sriracha&display=swap');

:root{
--primary-color:#ffc270;
--light-gray:#eee;
--light-black:rgba(0,0,0,.7);
--roboto:"Roboto",sans-serif;
--oswald:"Oswald",sans-serif;
--sriracha:"Sriracha",sans-serif;
}

/* ********** Front page *********** */

/* **** Titres ***** */
.contenu .front_titre{
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: var(--roboto);
    padding-top: 60px ;
}
    

    .contenu .front_titre:after{
    content:'';
    display: block;
    height: 2px;
    background-color: var(--light-black);
    width: 20%;
    margin: 20px auto;
    }

/* **** bouton achat **** */
.wp-block-button__link {
    background-color: #32373c !important;
    border: none;
    border-radius: 10px !important;
    box-shadow: none;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 20px !important;
    margin: 0;
    padding: 7px 14px! important;
    text-align: center;
    text-decoration: none;
    overflow-wrap: break-word;  
}
.wp-block-button__link:hover{
    background-color: var(--primary-color) !important;
    text-decoration: none !important;
}
.added_to_cart{
    display: none !important;
}
/* **** titre du produit **** */
.wc-block-grid__product-title {
    line-height: 1.2;
    font-weight: 700;
    color: #32373c !important;
    font-family: var(--roboto);
}

/* ****  bloc de produit **** */
.wc-block-grid{
    width: 100%;
    max-width: 98rem;
    padding-top: 20px;
    padding: 5rem;
    background-color: #FFF;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
}
.wc-block-grid__products {
    
    margin: 0 auto;
    
}
.has-3-columns .wc-block-grid__product {
    -webkit-box-flex: 1;
    flex: 1 0 33.33333%;
    max-width: 100% !important;
}

.wc-block-grid__product {
    box-sizing: border-box;
    padding: 16px 16px 0px 0;
    /* margin: 0px 60px 26px; */
    margin-left: 15%;
    float: none;
    width: auto;
    position: relative;
    text-align: center;
    max-width: none !important;
}

/* ****  Images de produit **** */

.wc-block-grid__product-image {
    text-decoration: none;
    margin-bottom: 16px;
    display: block;
    padding-top: 10px;
}

/* **** Single Page Product **** */

.single_add_to_cart_button{
    background-color: #32373c !important;
    border: none;
    border-radius: 10px !important;
    box-shadow: none;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 20px !important;
    margin: 0;
    padding: 7px 14px! important;
    text-align: center;
    text-decoration: none;
    overflow-wrap: break-word; 
}

.single_add_to_cart_button:hover{
    background-color: var(--primary-color) !important;
    text-decoration: none !important;
}

/* **** woocommerce notification  **** */

.woocommerce-store-notice{
    background-color: var(--primary-color)!important;
}


/* **********  *********** */
/* ***** Responsive ****** */
/* **********  *********** */

@media (min-width: 575.98px){
.wc-block-grid__product-image{
    padding-top: 20px;
}
}
@media (min-width: 768px){
    .front_cat_product a {
        color: #FFF;
        font-size: 30px !important;
        font-family: var(--roboto);
        text-align: center;
}
}

@media (min-width: 1000px){
    .front_cat_product {
        height: 250px !important;
        width: 250px !important;
        max-width: 160px !important;
        margin-top: 40px;
        padding-top: 9% !important;
        margin: 10px;
    }
}