a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
nav{
    margin-top: 10px;
    background-color: #000;
    
}
nav a {
    margin: 0 auto;
}
.navbar .navbar-brand{
    
    }
.navbar-toggler{
    background: url('../../uploads/2019/10/apple-homekit-logo.png');
}
